<%= form_for(@department_model) do |f| %>
<% if @department_model.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@department_model.errors.count, "error") %> prohibited this department_model from being saved:</h2>
    <ul>
        <% @department_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="field">
    <%= f.label :department_name %><br>
    <%= f.text_field :department_name %>
</div>
<div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
</div>
<div class="field">
    <%= f.label :surface %><br>
    <%= f.number_field :surface %>
</div>
<div class="field">
    <%= f.label :roof %><br>
    <%= f.number_field :roof %>
</div>
<div class="field">
    <%= f.label :total_surface %><br>
    <%= f.number_field :total_surface %>
</div>
<div class="field">
    <%= f.label :suite_bath %><br>
    <%= f.check_box :suite_bath %>
</div>
<div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>