<p id="notice"><%= notice %></p>

<h1>Listing Department Models</h1>

<table>
  <thead>
    <tr>
      <th>Department name</th>
      <th>Description</th>
      <th>Surface</th>
      <th>Roof</th>
      <th>Total surface</th>
      <th>Suite bath</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @department_models.each do |department_model| %>
      <tr>
        <td><%= department_model.department_name %></td>
        <td><%= department_model.description %></td>
        <td><%= department_model.surface %></td>
        <td><%= department_model.roof %></td>
        <td><%= department_model.total_surface %></td>
        <td><%= department_model.suite_bath %></td>
        <td><%= department_model.active %></td>
        <td><%= link_to 'Show', department_model %></td>
        <td><%= link_to 'Edit', edit_department_model_path(department_model) %></td>
        <td><%= link_to 'Destroy', department_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department model', new_department_model_path %>
