<p id="notice"><%= notice %></p>

<p>
  <strong>Department name:</strong>
  <%= @department_model.department_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department_model.description %>
</p>

<p>
  <strong>Surface:</strong>
  <%= @department_model.surface %>
</p>

<p>
  <strong>Roof:</strong>
  <%= @department_model.roof %>
</p>

<p>
  <strong>Total surface:</strong>
  <%= @department_model.total_surface %>
</p>

<p>
  <strong>Suite bath:</strong>
  <%= @department_model.suite_bath %>
</p>

<p>
  <strong>Active:</strong>
  <%= @department_model.active %>
</p>

<p>
  <strong>Plane images:</strong>
  <% @department_model.plane_pictures.each do |plane_picture| %>
    <%= plane_picture.image_file_name %>
    <%= image_tag plane_picture.image.url %>
  <% end %>
</p>

<p>
  <strong>Orientation images:</strong>
  <% @department_model.orientation_pictures.each do |orientation_picture| %>
    <%= orientation_picture.image_file_name %>
    <%= image_tag orientation_picture.image.url %>
  <% end %>
</p>

<p>
  <strong>View images:</strong>
  <% @department_model.view_pictures.each do |view_picture| %>
    <%= view_picture.image_file_name %>
    <%= image_tag view_picture.image.url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_department_model_path(@department_model) %> |
<%= link_to 'Back', admin_path %>
