<div class="mantenedor-tabla">
    <table>
        <thead>
            <tr class="mantenedor-titulo">
                <td  width="20%">Nombre</td>
                <td  width="20%">Descripción</td>
                <td  width="20%">Categoría</td>
                <td  width="10%">Subcategoría</td>
                <td  width="10%">Editar</td>
                <td  width="10%">Eliminar</td>
            </tr>
        </thead>
        <tbody>
            <% @articles.each do |article| %>
                <tr>
                    <td>
                        <%= article.article_name %>
                    </td>
                    <td>
                        <%= simple_format(article.description, {}, sanitize: false) %>
                        <%#= article.description %>
                    </td>
                    <td>
                        <%= category_name_through_id(article.category_id).nil? ? 'sin categoria' : category_name_through_id(article.category_id) %>
                    </td>
                    <td class="text-center">
                        <%= subcategory_name_through_id(article.subcategory_id).nil? ? 'sin categoria' : subcategory_name_through_id(article.subcategory_id) %>
                    </td>
                    <td class="icono">
                        <%= link_to edit_article_path(article.id) do %>
                            <i class="fa fa-cog"></i>
                        <% end %>
                    </td>
                    <td class="icono">
                        <%= link_to article, method: :delete, data: { confirm: 'Está seguro de querer eliminar este usuario?' } do %>
                            <i class="fa fa-trash"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>