<div class="mantenedor-tabla">
    <table>
        <thead>
            <tr class="mantenedor-titulo">
                <td  width="30%">Categoría</td>
                <td  width="25%">Creada el</td>
                <td  width="25%">Actualizada el</td>
                <td  width="10%">Editar</td>
                <td  width="10%">Eliminar</td>
            </tr>
        </thead>
        <tbody>
            <% @categories.each do |category| %>
                <tr>
                    <td>
                        <%= category.category_name %>
                    </td>
                    <td>
                        <%= category.created_at %>
                    </td>
                    <td>
                        <%= category.updated_at %>
                    </td>
                    <td class="icono">
                        <%= link_to edit_category_path(category.id) do %>
                            <i class="fa fa-cog"></i>
                        <% end %>
                    </td>
                    <td class="icono">
                        <%= link_to category, method: :delete, data: { confirm: 'Está seguro de querer eliminar esta categoría?' } do %>
                            <i class="fa fa-trash"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>