<div class="mantenedor-tabla">
    <table>
        <thead>
            <tr class="mantenedor-titulo">
                <td  width="20%">Subcategoría</td>
                <td  width="20%">Categoría</td>
                <td  width="20%">Creada el</td>
                <td  width="20%">Actualizada el</td>
                <td  width="10%">Editar</td>
                <td  width="10%">Eliminar</td>
            </tr>
        </thead>
        <tbody>
            <% @subcategories.each do |subcategory| %>
                <tr>
                    <td>
                        <%= subcategory.subcategory_name %>
                    </td>
                    <td>
                        <%= category_name_through_id(subcategory.category_id).nil? ? 'sin categoria' : category_name_through_id(subcategory.category_id) %>
                            <%#= 'sin categoria' %>
                        <%# end %>
                    </td>
                    <td>
                        <%= subcategory.created_at %>
                    </td>
                    <td>
                        <%= subcategory.updated_at %>
                    </td>
                    <td class="icono">
                        <%= link_to edit_subcategory_path(subcategory.id) do %>
                            <i class="fa fa-cog"></i>
                        <% end %>
                    </td>
                    <td class="icono">
                        <%= link_to subcategory, method: :delete, data: { confirm: 'Está seguro de querer eliminar esta categoría?' } do %>
                            <i class="fa fa-trash"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>