<p id="notice"><%= notice %></p>

<p>
  <strong>Department model:</strong>
  <%= @plane_picture.department_model %>
</p>

<p>
  <strong>Image file name:</strong>
  <%= @plane_picture.image_file_name %>
</p>

<p>
  <strong>Image content type:</strong>
  <%= @plane_picture.image_content_type %>
</p>

<p>
  <strong>Image file size:</strong>
  <%= @plane_picture.image_file_size %>
</p>

<%= link_to 'Edit', edit_plane_picture_path(@plane_picture) %> |
<%= link_to 'Back', plane_pictures_path %>
