<section class="cuerpo">
  <div class="container">
      <div class="row">
            <h1>Crear Nuevo Banner</h1>
        </div>
        <%= form_for(@banner, html: { multipart: true}) do |f| %>
            <div class="row blanco campos">
                <% if @banner.errors.any? %>
                    <div id="error_explanation" class="col-xs-12 col-sm-12">
                        <h2>
                            <% if @banner.errors.count > 1 %> 
                                <%= @banner.errors.count %> errores han impedido la edición de este banner:
                            <% elsif %>
                                <%= @banner.errors.count %> error ha impedido la edición de este banner:
                            <% end %>
                        </h2>

                        <ul>
                            <% @banner.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                
                <div class="col-xs-12 col-sm-12">
                    <h4>Video de banner</h4>
                    <%= f.file_field :video %>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <h4>Imagen de banner</h4>
                    <%= f.file_field :image, id: 'fileUpload' %>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <h4>Imagen de fondo</h4>
                    <%= f.file_field :background_image %>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <h4>Texto</h4>
                    <%= f.text_area :text, class: 'form-control' %>
                </div>
                <!-- <div class="col-xs-12 col-sm-12"> -->
                    <!-- <h4>Estado (visible/no visible)</h4> -->
                    <%#= f.check_box :active %>
                <!-- </div> -->
                <!-- <div class="col-xs-12 col-sm-12"> -->
                    <!-- <h4>Orden</h4> -->
                    <%#= f.number_field :order, class: 'form-control' %>
                <!-- </div> -->
                <div class="col-xs-12 col-sm-12" style="margin-top: 15px;">
                    <%= f.submit 'Crear banner', class: 'btn btn-create btn-ingresar' %>
                </div>
                <div class="col-xs-12 col-sm-12" style="margin-top: 15px;">
                    <%= link_to 'Volver', admin_path %>
                </div>
            </div>
        <% end %>
    </div>
</section>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) { 
        window.URL = window.URL || window.webkitURL;
        $("#new_banner").submit(function(e) {
            var form = this;
            e.preventDefault();
            var fileInput = $(this).find("input[type=file]#fileUpload")[0],
                file = fileInput.files && fileInput.files[0];
            if(file) {
                var img = new Image();
                img.src = window.URL.createObjectURL(file);
                img.onload = function() {
                    var width = img.naturalWidth,
                        height = img.naturalHeight;
                    window.URL.revokeObjectURL(img.src);
                    if(width < 100 && height < 100) {
                        form.submit();
                    } else {
                        alert('La imagen no tiene las dimensiones necesarias');
                    }
                };
            } else { //No file was input or browser doesn't support client side reading
                form.submit();
            }
        });
    });
</script>



































