<section class="cuerpo cuerpo-main" style="border-bottom: 0;">
    <div class="container">
        <div class="row">
        	<h1 style="margin-bottom: 28px;">Edificio MonteCastello</h1>
        	<div class="col-sm-12 col-xs-12 swiper-div" style="margin-bottom: 7px;">
        		<div class="swiper-container">
        		    <div class="swiper-wrapper"><!-- Additional required wrapper -->
        		        <div class="swiper-slide"><!-- Slides -->
							<%= image_tag 'swiper/montecastello/A2.jpg', :data => { :bed => '4', :bath => '4', :surface => '139.25', :roof => '38.58' }, alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/montecastello/B1.jpg', :data => { :bed => '3', :bath => '3', :surface => '135.53', :roof => '35.03' }, alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/montecastello/B2.jpg', :data => { :bed => '3', :bath => '3', :surface => '123.27', :roof => '31.89' } , alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/montecastello/B4.jpg', :data => { :bed => '3', :bath => '3', :surface => '131.09', :roof => '30.50' }, alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/montecastello/C2.jpg', :data => { :bed => '3', :bath => '2', :surface => '87.06', :roof => '26.06' }, alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/montecastello/G2.jpg', :data => { :bed => '4', :bath => '3', :surface => '117.32', :roof => '46.00' }, alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/montecastello/G3.jpg', :data => { :bed => '4', :bath => '3', :surface => '139.76', :roof => '59.32' }, alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		    </div>
        		    
        		    <div class="swiper-pagination"></div><!-- If we need pagination -->        		 
        		    <div class="swiper-scrollbar"></div> <!-- If we need scrollbar -->
        		</div>
        	</div>

			<div class="col-sm-12 col-xs-12" style="margin-top: 19px;">
				<hr style="border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
			</div>

			<div class="col-sm-12 col-xs-12" style="margin-bottom: 28px;">
	        	<div class="col-sm-6 col-xs-6">
					<%= link_to image_tag('project-sliders/montecastello/2_20130124124401_grande.jpg', class: 'img-responsive img-thumbnail img-swiper', style: 'width: 500px; margin-top: 24px;'), 
					image_path('project-sliders/montecastello/2_20130124124401_grande.jpg'), :data => { :rel => "lightcase" } %>
				</div>
			
				<div class="col-sm-6 col-xs-6">
					<div class="data-container" style="margin-top: 28px;">
						<div class="data-h3-cont" style="padding-left: 25px;">
							<div class="col-sm-6 col-xs-6">
								<h3 style="font-family: 'Oswald', sans-serif;">Número de Dormitorios</h3>
								<h3 style="font-family: 'Oswald', sans-serif;">Número de Baños</h3>
								<h3 style="font-family: 'Oswald', sans-serif;">Superficie Útil</h3>
								<h3 style="font-family: 'Oswald', sans-serif;">Superficie Terraza</h3>
								<h3 style="font-family: 'Oswald', sans-serif;">Superficie total</h3>
							</div>
							<div class="col-sm-6 col-xs-6">
								<h3 style="text-align: right;" class="h3-bed">2</h3>
								<h3 style="text-align: right;" class="h3-bath">2</h3>
								<h3 style="text-align: right;" class="h3-surface">98mt²</h3>
								<h3 style="text-align: right;" class="h3-roof">12mt²</h3>
								<h3 style="text-align: right;" class="h3-total">110mt²</h3>
							</div>
						</div>
						<div class="col-sm-6 col-xs-6 text-center">
							<h1 style="color: #e0d100;width: 540px;">Viviendas desde 1.234UF</h1>
							<h1 style="color: #e0d100;width: 540px;">
								<%= link_to 'Cotizar Aquí', contacto_path, style: 'color: inherit;text-decoration: none;' %>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>