<section class="cuerpo cuerpo-main">
    <div class="container">
        <div class="row">
        	<h1 style="margin-bottom: 28px;">Edificio Piamonte</h1>
        	<div class="col-sm-12 col-xs-12 swiper-div" style="margin-bottom: 7px;">
        		<div class="swiper-container">
        		    
        		    <div class="swiper-wrapper"><!-- Additional required wrapper -->
        		        
        		        <div class="swiper-slide"><!-- Slides -->
							<%= image_tag 'swiper/piamonte/a.jpg', :data => { :bed => '2', :bath => '2', :surface => '54.23', :roof => '16.23' }, alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/a2.jpg', :data => { :bed => '1', :bath => '3', :surface => '74.23', :roof => '26.23' }, alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/a3.jpg', :data => { :bed => '2', :bath => '3', :surface => '44.23', :roof => '15.23' } , alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/b.jpg', alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/c.jpg', alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/d.jpg', alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/e.jpg', alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/f.jpg', alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/g.jpg', alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/g2.jpg', alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/h.jpg', alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		        <div class="swiper-slide">
							<%= image_tag 'swiper/piamonte/i.jpg', alt: '...', class: 'img-responsive img-thumbnail img-sw', style: 'height: 318px;width: 380px; cursor: pointer;' %>
        		        </div>
        		    </div>
        		    
        		    <div class="swiper-pagination"></div><!-- If we need pagination -->        		    
        		   
        		    <div class="swiper-scrollbar"></div> <!-- If we need scrollbar -->
        		</div>
        	</div>

			<div class="col-sm-12 col-xs-12">
				<hr style="border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
			</div>

	<div class="col-sm-12 col-xs-12">
        	<div class="col-sm-6 col-xs-6">
				<%= link_to image_tag('swiper/piamonte/main.jpg', class: 'img-responsive img-thumbnail img-swiper', alt: 'Edifio Piamonte', style: 'width: 500px; margin-top: 4px;'), image_path('swiper/piamonte/main.jpg'), :data => { :rel => "lightcase" } %>
			</div>
			
				<div class="col-sm-6 col-xs-6">
					<div class="container">
						<div class="row">
							<div class="data-container" style="margin-top: 20px;">
								<div class="data-h3-cont" style="padding-left: 25px;">
									<div class="col-sm-3 col-xs-3">
										<h3 style="font-family: 'Oswald', sans-serif;">Número de Dormitorios</h3>
										<h3 style="font-family: 'Oswald', sans-serif;">Número de Baños</h3>
										<h3 style="font-family: 'Oswald', sans-serif;">Superficie Útil</h3>
										<h3 style="font-family: 'Oswald', sans-serif;">Superficie Terraza</h3>
										<h3 style="font-family: 'Oswald', sans-serif;">Superficie total</h3>
									</div>
									<div class="col-sm-3 col-xs-3">
										<h3 style="text-align: right;margin-right: 45px;" class="h3-bed">2</h3>
										<h3 style="text-align: right;margin-right: 45px;" class="h3-bath">2</h3>
										<h3 style="text-align: right;margin-right: 45px;" class="h3-surface">98mt²</h3>
										<h3 style="text-align: right;margin-right: 45px;" class="h3-roof">12mt²</h3>
										<h3 style="text-align: right;margin-right: 45px;" class="h3-total">110mt²</h3>
									</div>
								</div>
								<div class="col-sm-6 col-xs-6 text-center">
									<h1 style="color: #e0d100;">Viviendas desde 1.234UF</h1>
									<h1 style="color: #e0d100;">
										<%= link_to 'Cotizar Aquí', contacto_path, style: 'color: inherit;text-decoration: none;' %>
									</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>