<header class="cabezera">
    <div class="container">
        <nav class="navbar botonera">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                    	<%= image_tag 'logo.jpg' %>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right botones">
                        <li><a href="#">Proyectos</a></li>
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Servicio al Cliente</a></li>
                        <li><a href="#">Te Asesoramos</a></li>
                        <li><a href="#">Contacto</a></li>
                        <!--                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="banner">
    <div class="container">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                    	<%= image_tag 'banner/banner1.jpg', alt: '...' %>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                    	<%= image_tag 'banner/banner2.jpg', alt: '...' %>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                    	<%= image_tag 'banner/banner3.jpg', alt: '...' %>
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="cuerpo-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="proyecto animated fadeInUp">
                	<%= image_tag 'proyectos/1.jpg', class: 'img-responsive', alt: 'Lorem Website' %>
                    <h3>Lorem Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInDown">
                	<%= image_tag 'proyectos/2.jpg', class: 'img-responsive', alt: 'Lorem Website' %>
                    <h3>Ipsum Logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInUp">
                	<%= image_tag 'proyectos/3.jpg', class: 'img-responsive', alt: 'Lorem Website' %>
                    <h3>Dolor Prints</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInDown">
                	<%= image_tag 'proyectos/4.jpg', class: 'img-responsive', alt: 'Lorem Website' %>
                    <h3>Sit Amet Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row informacion">
            <div class="col-sm-6">
                <h2>Financiamiento</h2>
                <%= image_tag 'informacion1.jpg', class: 'img-responsive' %>
                <p>Queremos orientarte para que tomes la mejor decisión de compra para tu casa, departamento u oficina. Para eso nuestros ejecutivos te ofrecerán alternativas de financiamiento con instituciones en convenio con la inmobiliaria</p>
                <a class="btn btn-ingresar" href="#">Información General</a>
                <a class="btn btn-ingresar" href="#">Crédito Hipotecario</a>
                <a class="btn btn-ingresar" href="#">Subsidio</a>
            </div>
            <div class="col-sm-6">
                <h2>Proceso de Compra</h2>
                <%= image_tag 'informacion2.jpg', class: 'img-responsive' %>
                <p>Queremos orientarte para que tomes la mejor decisión de compra para tu casa, departamento u oficina. Para eso nuestros ejecutivos te ofrecerán alternativas de financiamiento con instituciones en convenio con la inmobiliaria</p>
                <a class="btn btn-ingresar" href="#">Como Comprar</a>
            </div>
        </div>
    </div>
</section>
<section class="cuerpo2">
    <div class="container">
        <div class="row informacion">
            <div class="col-sm-6">
                <h1>Consejos para tu vivienda</h1>
                <div id="carousel-consejos" class="carousel slide consejos" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-consejos" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-consejos" data-slide-to="1"></li>
                        <li data-target="#carousel-consejos" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                        	<%= image_tag 'banner/banner1.jpg', alt: '...' %>
                            <div class="carousel-caption">
                                <h5> TITULO DE CONSEJOS PARA TU HOGAR N°1</h5>
                            </div>
                        </div>
                        <div class="item">
                        	<%= image_tag 'banner/banner2.jpg', alt: '...' %>
                            <div class="carousel-caption">
                                <h5> TITULO DE CONSEJOS PARA TU HOGAR N°1</h5>
                            </div>
                        </div>
                        <div class="item">
                        	<%= image_tag 'banner/banner3.jpg', alt: '...' %>
                            <div class="carousel-caption">
                                <h5> TITULO DE CONSEJOS PARA TU HOGAR N°1</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="noticia">
                    <div class="col-xs-6 ">
						<%= image_tag 'noticia1.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="col-xs-6">
                        <h3>TITULO DE NOTICIA EN DOS LINEAS EN ALTAS</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt"</p>
                    </div>
                </div>
                <div class="noticia">
                    <div class="col-xs-6 ">
                    	<%= image_tag 'noticia1.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="col-xs-6">
                        <h3>TITULO DE NOTICIA EN DOS LINEAS EN ALTAS</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bajada">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a class="icono-link-redes" href="#"><i class="fa fa-facebook"></i></a>
                <a class="icono-link-redes" href="#"><i class="fa fa-twitter"></i></a>
                <a class="icono-link-redes" href="#"><i class="fa fa-instagram"></i></a></div>
            <div class="col-sm-6"> ©Inmobiliaria Integral Ltda. Todos los derechos Reservados<br> Calle Los Pensamientos 136, Huertos Familiares - San Pedro de la Paz.<br> Telefonos: (41) 2465555 - (41) 2379090</div>
            <div class="col-sm-3">
            	<%= image_tag 'logo-negro.jpg' %>
            </div>
        </div>
    </div>
</footer>