<section class="cuerpo cuerpo-main" style="border-bottom: 0;">
    <div class="container">
        <div class="row">
			<h1 style="letter-spacing: 5px;font-size: 37px;text-align: justify;
    margin-top: 45px;">Lo sentimos, la página que ha solicitado no existe. Parque Condominio Ligure es un proyecto en etapa de desarrollo.</h1>
			<h1 style="letter-spacing: 5px;font-size: 37px;text-align: justify;">Tal vez quiera conocer alguno de nuestros otros proyectos.</h1>

			<div class="col-sm-12 col-xs-12" style="margin-top: 40px;">
				<hr style="border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
			</div>

			<section class="cuerpo-main" style="border-bottom: 0;">
			    <div class="container">
			        <div class="row">
			            <div class="col-sm-4">
			                <div class="proyecto animated fadeInUp" style="height: 510px;">
			                	<%= image_tag 'project-sliders/toscana/toscana01.jpg', class: 'img-responsive', alt: 'Lorem Website', style: 'width: 359.5px; height: 267px;' %>
			                    <h3>Edificio Toscana</h3>
			                    <p style="line-height: 29px;">Edificio Condominio Toscana es un nuevo proyecto de Inmobiliaria Integral, ubicado en unos de los mejores barrios de San Pedro de la Paz, con excelente conectividad...</p>
			                    <div class="proyecto-boton">
			                        <%= link_to 'Ver Proyecto', toscana_path, class: 'btn btn-ver', style: 'margin-top: 12px;' %>
			                    </div>
			                </div>
			            </div>
			            <div class="col-sm-4">
			                <div class="proyecto animated fadeInDown" style="height: 510px;">
			                	<%= image_tag 'project-sliders/piamonte/19_20151124183659.jpg', class: 'img-responsive', alt: 'Lorem Website', style: 'width: 359.5px; height: 267px;' %>
			                    <h3>Edificio Piamonte</h3>
			                    <p style="line-height: 29px;">Edificio Condominio Piamonte es un nuevo proyecto de Inmobiliaria Integral, ubicado en unos de los mejores barrios de la comuna de Concepción.</p>
			                    <div class="proyecto-boton">
			                        <%= link_to 'Ver Proyecto', piamonte_path, class: 'btn btn-ver', style: 'margin-top: 12px;' %>
			                    </div>
			                </div>
			            </div>
			            <div class="col-sm-4">
			                <div class="proyecto animated fadeInDown" style="height: 510px;">
			                	<%= image_tag 'project-sliders/montecastello/2_20130124124401_grande.jpg', class: 'img-responsive', alt: 'Lorem Website', style: 'width: 359.5px; height: 267px;' %>
			                    <h3>Edificio MonteCastello</h3>
			                    <p style="line-height: 29px;">Edificio Montecastello ubicado cerca de varios centros importantes de servicios, como universidades, Mall, Hoteles, Aeropuerto, Clínicas, Colegios...</p>
			                    <div class="proyecto-boton">
			                        <%= link_to 'Ver Proyecto', montecastello_path, class: 'btn btn-ver', style: 'margin-top: 12px;' %>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</section>
        </div>
    </div>
</section>