<section class="cuerpo">
    <div class="container">
        <div class="row">
            <h1>proyectos</h1>
        </div>
        <div class="row proyecto-comuna">
            <h2>Lomas de San Andrés</h2>
            <div class="col-sm-12 ">
                <div class="row qs-ficha">
                    <div class="col-sm-5">
                        <div class="swiper-container-pia">
                            <div class="swiper-wrapper" style="z-index:0;">
                                <%= link_to piamonte_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/piamonte/19_20151124183656_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to piamonte_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/piamonte/19_20151124183659.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to piamonte_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/piamonte/19_20151124183702.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to piamonte_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/piamonte/19_20151124183705.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to piamonte_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/piamonte/19_20151124183708.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to piamonte_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/piamonte/19_20151124183710.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to piamonte_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/piamonte/19_20151124183713.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to piamonte_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/piamonte/19_20151124183716.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to piamonte_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/piamonte/19_20151124183719.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                            </div>
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="ficha row">
                            <h2> Edificio Piamonte</h2>
                            <div class="col-sm-6">
                                <li>Nº Habitaciones: <strong>63</strong></li>
                                <li>Departamentos: <strong>1, 2 y 3 dormitorios</strong></li>
                                <li>Superficies: <strong>desde 40.69m2 a 73.54m2</strong></li>
                                <li>Ubicación: <strong>Lomas de San Andrés</strong></li>
                                <li>Estacionamiento: <strong>desde 390 UF</strong></li>
                                <li>Bodegas: <strong>desde 60 UF</strong></li>
                                <div class="desde">Valor desde <strong>2000</strong> UF</div>
                            </div>
                            <div class="col-sm-6">
                            <iframe src="http://maps.google.com/maps?q=-36.79192093078731,-73.06022057874299&z=15&output=embed" width="300" height="250" frameborder="0" style="border:0" allowfullscreen>
                            </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 ">
                <div class="row qs-ficha">
                    <div class="col-sm-5">
                        <div class="swiper-container-mont">
                            <div class="swiper-wrapper" style="z-index:0;">
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130124124257_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130124124312_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130124124329_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130124124349_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130124124401_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130124124414_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130124125106_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130124125113_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130220153736_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130220154004_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130220154011_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to montecastello_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/montecastello/2_20130220154014_grande.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                            </div>
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="ficha row">
                            <h2> Edificio MonteCastello</h2>
                            <div class="col-sm-6">
                                <li>Nº Habitaciones: <strong>60</strong></li>
                                <li>Departamentos: <strong>1, 2, 3 y 4 dormitorios</strong></li>
                                <li>Superficies: <strong>disponible 139.72m2</strong></li>
                                <li>Ubicación: <strong>Lomas de San Andrés</strong></li>
                                <li>Estacionamiento: <strong>desde 540 UF</strong></li>
                                <li>Bodegas: <strong>desde 85 UF</strong></li>
                                <div class="desde">Valor desde <strong>7200</strong> UF</div>
                            </div>
                            <div class="col-sm-6">
                                <iframe src="http://maps.google.com/maps?q=-36.793265539090456,-73.05854151589966&z=15&output=embed" width="300" height="250" frameborder="0" style="border:0" allowfullscreen>
                            </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row proyecto-comuna">
            <h2>San Pedro de la Paz</h2>
            <div class="col-sm-12 ">
                <div class="row qs-ficha">
                    <div class="col-sm-5">
                        <div class="swiper-container-tos">
                            <div class="swiper-wrapper" style="z-index:0;">
                                <%= link_to toscana_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/toscana/01.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to toscana_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/toscana/02.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to toscana_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/toscana/03.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to toscana_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/toscana/04.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to toscana_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/toscana/05.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                            </div>
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="ficha row">
                            <h2> Edificio Toscana</h2>
                            <div class="col-sm-6">
                                <li>Nº Habitaciones: <strong>103</strong></li>
                                <li>Departamentos: <strong>1, 2 y 3 dormitorios</strong></li>
                                <li>Superficies: <strong>desde 39.7m2 a 74.93m2</strong></li>
                                <li>Ubicación: <strong>Huertos Familiares</strong></li>
                                <li>Estacionamiento: <strong>desde 200 UF</strong></li>
                                <li>Bodegas: <strong>desde 200 UF</strong></li>
                                <div class="desde">Valor desde <strong>1.500</strong> UF</div>
                            </div>
                            <div class="col-sm-6">
                                <iframe src="http://maps.google.com/maps?q=-36.8343570649007,-73.11251292569733&z=15&output=embed" width="300" height="250" frameborder="0" style="border:0" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row proyecto-comuna">
            <h2>Hualpén</h2>
            <div class="col-sm-12 ">
                <div class="row qs-ficha">
                    <div class="col-sm-5">
                        <div class="swiper-container-lig">
                            <div class="swiper-wrapper" style="z-index:0;">
                                <%= link_to ligure_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/ligure/01.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to ligure_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/ligure/02.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                                <%= link_to ligure_path, class: 'swiper-slide' do %>
                                    <%= image_tag 'project-sliders/ligure/03.jpg', class: 'img-responsive img-thumbnail', style: 'height: 330px;' %>
                                <% end %>
                            </div>
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="ficha row">
                            <h2> Edificio Condominio Ligure</h2>
                            <div class="col-sm-6">
                                <li>Nº Habitaciones: <strong></strong></li>
                                <li>Departamentos: <strong></strong></li>
                                <li>Superficies: <strong></strong></li>
                                <li>Ubicación: <strong></strong></li>
                                <li>Estacionamiento: <strong></strong></li>
                                <li>Bodegas: <strong></strong></li>
                                <div class="desde">Valor desde <strong></strong></div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var swiper = new Swiper('.swiper-container-pia', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            // Disable preloading of all images
            preloadImages: false,
            // Enable lazy loading
            lazyLoading: true,
            autoplay: 2500,
            spaceBetween: 30,
            loop: true,
            effect: 'fade'
        });
        var swiper = new Swiper('.swiper-container-mont', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            // Disable preloading of all images
            preloadImages: false,
            // Enable lazy loading
            lazyLoading: true,
            autoplay: 2500,
            spaceBetween: 30,
            loop: true,
            effect: 'fade'
        });
        var swiper = new Swiper('.swiper-container-tos', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            // Disable preloading of all images
            preloadImages: false,
            // Enable lazy loading
            lazyLoading: true,
            autoplay: 2500,
            spaceBetween: 30,
            loop: true,
            effect: 'fade'
        });
        var swiper = new Swiper('.swiper-container-lig', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            // Disable preloading of all images
            preloadImages: false,
            // Enable lazy loading
            lazyLoading: true,
            autoplay: 2500,
            spaceBetween: 30,
            loop: true,
            effect: 'fade'
        });
    });
</script>