<section class="cuerpo">
	<div class="container">
        <div class="row">
        <h1>proyectos</h1>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInUp">
                    <%= image_tag 'proyectos/1.jpg', class: 'img-responsive', alt: 'Lorem Ipsum' %>
                    <h3>Lorem Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                       <a class="btn btn-ver" href="#">Ver Proyecto</a>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInDown">
                    <%= image_tag 'proyectos/2.jpg', class: 'img-responsive', alt: 'Lorem Ipsum' %>
                    <h3>Ipsum Logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInUp">
                    <%= image_tag 'proyectos/3.jpg', class: 'img-responsive', alt: 'Lorem Ipsum' %>
                    <h3>Dolor Prints</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInDown">
                    <%= image_tag 'proyectos/4.jpg', class: 'img-responsive', alt: 'Lorem Ipsum' %>
                    <h3>Sit Amet Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                        
                  </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInUp">
                    <%= image_tag 'proyectos/1.jpg', class: 'img-responsive', alt: 'Lorem Ipsum' %>
                    <h3>Lorem Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                       <a class="btn btn-ver" href="#">Ver Proyecto</a>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInDown">
                    <%= image_tag 'proyectos/2.jpg', class: 'img-responsive', alt: 'Lorem Ipsum' %>
                    <h3>Ipsum Logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInUp">
                    <%= image_tag 'proyectos/3.jpg', class: 'img-responsive', alt: 'Lorem Ipsum' %>
                    <h3>Dolor Prints</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="proyecto animated fadeInDown">
                    <%= image_tag 'proyectos/4.jpg', class: 'img-responsive', alt: 'Lorem Ipsum' %>
                    <h3>Sit Amet Website</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
                    <div class="proyecto-boton">
                        <a class="btn btn-ver" href="#">Ver Proyecto</a>
                        
                  </div>
                </div>
            </div>
        </div>
	</div>
</section>