<section class="cuerpo cuerpo-main qs">
    <div class="container">
        <div class="row">
            <h1>Quienes Somos</h1>
            <div class="col-sm-7">
                <h2>Quienes Somos</h2>
                <p style="padding: 7px;">
                    <span><b>INMOBILIARIA INTEGRAL LTDA</b></span> es una empresa dinámica creada en el año 2001 por tres amigos profesionales con vasta experiencia en el sector Inmobiliario de la provincia de Concepción. 
                </p>
                <p style="padding: 7px;"> Durante el transcurso de estos años han formado nuevas empresas que complementan el rubro de la construcción como es <span><b>INGENIERIA</b></span> y <span><b>CONSTRUCCION INTEGRAL LTDA</b></span>, que atiende la Post-venta y asiste a Inmobiliaria en servicios de Ingeniería. Inmobiliaria se ha destacado básicamente por crear viviendas sólidas para las familias de la octava región, con excelentes terminaciones y siempre preocupada de entregar la mayor satisfacción al cliente.
                </p>
                <p style="padding: 7px;"> A la fecha hemos desarrollado 13 proyectos, Esto ha sido posible gracias a la fortaleza de nuestra gente, en sus conocimientos, entrega y preocupación por hacer bien las cosas. Con orgullo podemos decir a todos nuestros clientes que agradecemos su confianza al comprar una de nuestras viviendas y que nuestro compromiso quedó de manifiesto en todas las construcciones realizadas por Inmobiliaria Integral durante la prueba puesta por la naturaleza el 27 de febrero de 2010, resistiendo con mucho éxito y dejando comprobada la sólida calidad de nuestros proyectos.
                </p>
            </div>
            <div class="col-sm-5">
                <%= image_tag 'foto-integral.png', class: 'img-responsive img-thumbnail' %>
            </div>
        </div>
    </div>
</section>
<section class="cuerpo2">
    <div class="container">
        <div class="row">
            <h1>Algunos de Nuestros Proyectos: </h1>
            <div class="col-sm-6 ">
                <div class="row qs-ficha">
                    <div class="col-sm-6">
                        <%= image_tag 'proyectos/Edificio-milan.jpg', class: 'img-responsive img-thumbnail' %>
                    </div>
                    <div class="col-sm-6">
                        <div class="ficha">
                            <h2> Edificio Milan</h2>
                            <li>Nº Viviendas: <strong>80</strong></li>
                            <li>Fecha Termino Construcción: <strong>jul-2015</strong></li>
                            <li>Superficie promedio: <strong>50 m2</strong></li>
                            <li>Valor Promedio de Vivienda: <strong>1.760 UF</strong></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="row qs-ficha">
                    <div class="col-sm-6">
                        <%= image_tag 'proyectos/Edificio-Pietra.jpg', class: 'img-responsive img-thumbnail' %>
                    </div>
                    <div class="col-sm-6">
                        <div class="ficha">
                            <h2> Edificio Pietra</h2>
                            <li>Nº Viviendas: <strong>100</strong></li>
                            <li>Fecha Termino Construcción: <strong>may-2014</strong></li>
                            <li>Superficie promedio: <strong>60 m2</strong></li>
                            <li>Valor Promedio de Vivienda: <strong>2.180 UF</strong></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="row qs-ficha">
                    <div class="col-sm-6">
                        <%= image_tag 'proyectos/Edificio-Casale.jpg', class: 'img-responsive img-thumbnail' %>
                    </div>
                    <div class="col-sm-6">
                        <div class="ficha">
                            <h2> Edificio Casale</h2>
                            <li>Nº Viviendas: <strong>100</strong></li>
                            <li>Fecha Termino Construcción: <strong>oct-2012</strong></li>
                            <li>Superficie promedio: <strong>65 m2</strong></li>
                            <li>Valor Promedio de Vivienda: <strong>1.800 UF</strong></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="row qs-ficha">
                    <div class="col-sm-6">
                        <%= image_tag 'proyectos/Condominio-Alfonso.jpg', class: 'img-responsive img-thumbnail' %>
                    </div>
                    <div class="col-sm-6">
                        <div class="ficha">
                            <h2> Condominio Alfonso de Borbón</h2>
                            <li>Nº Viviendas: <strong>43</strong></li>
                            <li>Fecha Termino Construcción: <strong>mar-2009</strong></li>
                            <li>Superficie promedio: <strong>80 m2</strong></li>
                            <li>Valor Promedio de Vivienda: <strong>1.909 UF</strong></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>