<section class="cuerpo">
	<div class="container">
		<div class="row">
			<h1>Editar Oferta</h1>
		</div>  

		<%= form_for(@offer) do |f| %>
			<% if @offer.errors.any? %>
			<div id="error_explanation">
			    <h2>
			    	<% if @offer.errors.count > 1 %>	
			    		<%= @offer.errors.count %> errores han impedido la edición de esta oferta:
			    	<% elsif %>
			    		<%= @offer.errors.count %> error ha impedido la edición de esta oferta:
			    	<% end %>
			    </h2>
			    <ul>
			        <% @offer.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			        <% end %>
			    </ul>
			</div>
			<% end %>
			<div class="col-xs-12 col-sm-12">
			    <h4>Imagen</h4>
			    <%= f.file_field :image %>
			</div>
			<div class="col-xs-12 col-sm-12">
			    <h4>Texto</h4>
			    <%= f.text_area :text, autofocus: true, class: 'form-control' %>
			</div>
			<!-- <div class="col-xs-12 col-sm-12"> -->
			    <!-- <%#= f.label :active %><br> -->
			    <%#= f.check_box :active %>
			<!-- </div> -->
			<div class="col-xs-12 col-sm-12" style="margin-top: 15px;">
			    <%= f.submit 'Editar oferta', class: 'btn btn-create btn-ingresar' %>
			</div>
			<div class="col-xs-12 col-sm-12" style="margin-top: 15px;">
				<%= link_to 'Volver', admin_path %>
			</div>
		<% end %>

	</div>
</section>