<section class="cuerpo scliente">
    <div class="container">
        <div class="row">
            <h1>Servico al Cliente </h1>
            <div class="col-sm-12">
                <h2>Servicio al Cliente</h2>
                <p>
                    Al adquirir una vivienda INTEGRAL automáticamente tendrás acceso a nuestro servicio de postventa y a las garantías que establece la Ley General de Urbanismo y  Construcción. La duración de éstas dependerán de los elementos que la componen, es así que los plazos legales para su prescripción son de: 3 años para terminaciones, 5 años para instalaciones y 10 años para la estructura.
                    Ante el eventual caso que alguna instalación funcione incorrectamente o alguna terminación no haya quedado resuelta, debes presentar una  solicitud al Servicio de  postventa, de acuerdo a un procedimiento que se te informará al momento de la entrega de tu propiedad.
                </p>
            </div>
            <div class="col-sm-6">
                <h2>Garantias</h2>
                <p>
                    La garantía por las instalaciones y estructura del departamento, comienza a operar desde la obtención del certificado de Recepción Municipal. Para los elementos  de terminación o acabado, el plazo se contará a partir de la fecha de inscripción del inmueble en el Conservador de Bienes Raíces respectivo; y en los artefactos, desde la entrega de tu vivienda.<br><br>
                    <strong>La garantía de 3 años :</strong> incluye fallas o defectos que afecten a terminaciones o acabados de las obras tales como cielos, pisos, puertas, revestimientos y pinturas exteriores e interiores, barnices, alfombras, cerámicos, quincallería, muebles adosados o empotrados a la construcción.<br><br>
                    <strong>La garantía de 5 años :</strong> cubre fallas o defectos de los elementos constructivos o de las instalaciones, tales como ventanas, estructuras no soportantes de muro y de cielo, bases  de pavimentos, estructuras o  bases  de  pisos, impermeabilizaciones, aislamiento térmico y acústico, o de las instalaciones eléctricas,  de  corrientes débiles,  de  calefacción,  de climatización,   de gas, sanitarias, redes húmedas y secas de incendio,  sistemas  de   evacuación   de basuras, instalaciones y equipos eléctricos mayores como ascensores,  equipos de presurización,  calderas colectivas y grupos electrógenos.<br><br>
                    <strong> La garantía por 10 años :</strong> tiene una cobertura para fallas o defectos que afecten a la estructura soportante del inmueble tales como cimientos, sobre cimientos, fundaciones, muros soportantes, losas,  vigas,  cadenas, pilares y entramados  horizontales o verticales de carácter estructural.
                </p>
            </div>
            <div class="col-sm-6">
                <h2>Contribuciones</h2>
                <p>
                    Las contribuciones serán de  cargo del propietario a  partir de la fecha de escrituración. Desde ese momento deberás cancelar las cuotas correspondientes al período en que recibiste el departamento o casa.<br><br>
                    Al acogerse una construcción a la ley Nº 19.537, sobre Copropiedad Inmobiliaria, el SII enrolará separadamente cada unidad vendible, ya sea casa, departamento, bodega o estacionamiento. Con ello, a cada rol se le fija un avalúo de acuerdo a la normativa vigente, el cual considera además el prorrateo de los bienes comunes del edificio o condominio. De acuerdo a lo anterior, cada propietario de las distintas unidades que conforman el edificio o condominio debe pagar las contribuciones según el avalúo de su inmueble, el que incluye el prorrateo de los bienes comunes.<br><br>
                    <strong> Cuotas suplementarias de contribuciones</strong><br><br>
                    Las cuotas suplementarias de contribuciones son cobros retroactivos debido a la tasación fiscal, por ejemplo: incorporar una ampliación o cambio en el destino o uso del bien raíz.
                </p>
            </div>
            <div class="col-sm-12">
                <h2>Manual de Uso y Mantención de la Vivienda</h2>
                <p>
                    Descargar manual de uso y mantención de la vivienda
                    <%= link_to 'aquí', 'manual.pdf', { target: '_blank' } %>
                </p>
            </div>
        </div>
    </div>
</section>



<section class="cuerpo2">
    <div class="container">
        <div class="row">
            <h1>¿Problemas con tu vivienda?</h1>

            <%= form_for :trip, url: { action: "show" }, html: { method: "get" } do |f| %>
                <div class="col-sm-4">
                    <h5>Categoría</h5> 
                    <div class="input-group">
                        <% if !@categories.empty? %>
                        	<%= f.select :category_id, 
                        		options_for_select(@categories.collect { |category|
                            		[category.category_name.titleize, category.id] 
                            	}, 1), {}, { 
                            		id: 'categories_select', class: 'form-control', style: 'z-index: 0;' } %>
                        <% end %>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h5>Subcategoría </h5> 
                    <div class="input-group">
                        <% if !@subcategories.empty? %>
                            <%= f.select :subcategory_id, 
                                options_for_select(@subcategories.collect { |subcategory|
                                    [subcategory.subcategory_name.titleize, subcategory.id] 
                                }, 0), {}, { 
                                    id: 'subcategories_select', class: 'form-control', style: 'z-index: 0;' } %>
                        <% end %>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h5>Preguntas</h5> 
                    <div class="input-group">
                        <% if !@subcategories.empty? %>
                            <%= f.select :article_id, 
                            	options_for_select(@articles.collect { |article|
                    				[article.article_name.titleize, article.id] 
                    			}, 0), {}, { 
                    				id: 'articles_select', class: 'form-control', style: 'z-index: 0;' } %>
                        <% end %>        
                    </div>
                </div>
            <% end %>

            <div class=" col-sm-12">
                <h5>Descripción</h5>
                <textarea class="form-control" type="text"></textarea>
            </div>
        </div>
        <div class="scliente">
            <h2>para mayor información envié un correo a postventa@iintegral.cl</h2>
        </div>
    </div>
</section>