<header class="cabezera">
    <div class="container">
        <nav class="navbar botonera">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <%= link_to root_path, class: 'navbar-brand' do %>
                    	<%= image_tag 'logo.jpg' %>
                    <% end %>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right botones">
                        <li><%= link_to 'Proyectos',           proyectos_path %></li>
                        <!--<li><%#= link_to 'Proyectos Ficha',     proyectos_ficha_path %></li>-->
                        <!--<li><%#= link_to 'Modelos Ficha',       modelos_ficha_path %></li>-->
                        <li><%= link_to 'Quienes Somos',       quienes_somos_path %></li>
                        <li><%= link_to 'Servicio al Cliente', servicio_cliente_path %></li>
                        <li><%= link_to 'Te Asesoramos',       financiamiento_path %></li>
                        <li><%= link_to 'Contacto',            contacto_path %></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>