<!DOCTYPE html>
<html>
<head>
	<title>Inmboliaria Integral</title>
	<%= favicon_link_tag 'favicon.png' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
 	
<% if current_page?('/login') %>
	<%= render 'layouts/login_header' %>
<% elsif current_page?('/')  || current_page?('/proceso-compra') || current_page?('/proyectos')  || current_page?('/modelos-ficha')  || current_page?('/proyectos-ficha')  || current_page?('/quienes-somos')  || current_page?('/servicio-cliente')  || current_page?('/financiamiento')  || current_page?('/contacto')  || current_page?('/modelos/edificio-toscana') || current_page?('/modelos/edificio-piamonte') || current_page?('/modelos/parque-condominio-ligure') || current_page?('/modelos/edificio-montecastello') %>
	<%= render 'layouts/header' %>
<% elsif user_signed_in? && current_page?('/admin') || 
	current_page?(action: 'new') || 
	current_page?(action: 'edit') %>
	<%= render 'layouts/user_header' %>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
