<!DOCTYPE html>
<html>
<head>
  <title>
	<%= full_title(yield(:title)) %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 	
<% if current_page?('/login') %>
	<%= render 'layouts/login_header' %>
<% elsif current_page?('/admin') %>
	<%= render 'layouts/user_header' %>
<% else %>
	<%= render 'layouts/header' %>
<% end %>

<% if !notice.nil? %>
	<p class="notice">
		<%= notice %>
	</p>
<% end %>
<% if !alert.nil? %>
	<p class="alert">
		<%= alert %>
	</p>
<% end %>

<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
